# Prerequisites

# Object files
*.o

# Linker output

# Precompiled Headers

# Libraries

# Shared objects (inc. Windows DLLs)

# Executables
cos
zigzag
huff
jpgdecoder

*.exe
*.out

# Debug files
*.jpg
*.txt
*.pdf

# Kernel Module Compile Results

# System files
.DS_Store
*.swp
